.mbd-ranking-list .mbd-ranking-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  word-wrap: normal;
}

@media all and (min-width: 1280px) {
  html {
    font-size: 30px;
  }
}

body {
  background: #2E73FB;
}

.container {
  width: 32rem;
  margin: 0 auto;
  position: relative;
}

.event-title {
  font-size: .42rem;
  color: #fff;
  margin-bottom: .2rem;
}

.page-title {
  font-size: .9rem;
  color: #fff;
}

.title-wrap {
  margin: .8rem 0 .66rem;
  position: relative;
}

.logo {
  position: absolute;
  width: 5.37rem;
  height: 1.25rem;
  background: url("../img/logo.png") no-repeat;
  background-size: contain;
  right: 0;
  bottom: 0;
}

.mbd-ranking-list .mbd-ranking-item {
  width: 32rem;
  height: 1.65rem;
  position: relative;
  color: #fff;
  margin-bottom: .12rem;
}

.mbd-ranking-list .mbd-ranking-item:nth-child(odd) .mbd-ranking-resl {
  background: rgba(0, 0, 0, 0.05);
}

.mbd-ranking-list .mbd-ranking-item:nth-child(even) .mbd-ranking-resl {
  background: rgba(0, 0, 255, 0.2);
}

.mbd-ranking-list .mbd-ranking-resl {
  height: 100%;
  font-size: .72rem;
  border-radius: 1.5rem;
  overflow: hidden;
  width: 0;
  -webkit-animation: itAmt 1.6s ease-in-out both;
          animation: itAmt 1.6s ease-in-out both;
  position: relative;
  z-index: 5;
}

.mbd-ranking-list .mbd-ranking-avatar {
  position: absolute;
  width: 1.57rem;
  height: 1.57rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.08rem solid rgba(0, 0, 0, 0.2);
  margin-right: .45rem;
  z-index: 10;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-animation: avtAmt 800ms ease-in-out both;
          animation: avtAmt 800ms ease-in-out both;
}

.mbd-ranking-list .mbd-ranking-avatar img {
  display: block;
  width: 100%;
  height: 100%;
}

.mbd-ranking-list .mbd-ranking-name {
  position: absolute;
  left: 2.1rem;
  width: 16rem;
  line-height: 1.73rem;
}

.mbd-ranking-list .mbd-ranking-time {
  position: absolute;
  left: 18.1rem;
  width: 3rem;
  line-height: 1.73rem;
}

.mbd-ranking-list .mbd-ranking-gift {
  position: absolute;
  left: 25.42rem;
  line-height: 1.73rem;
}

@-webkit-keyframes avtAmt {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes avtAmt {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes itAmt {
  0% {
    width: 0;
  }
  60% {
    width: 0;
  }
  85% {
    width: 110%;
  }
  100% {
    width: 100%;
  }
}

@keyframes itAmt {
  0% {
    width: 0;
  }
  60% {
    width: 0;
  }
  85% {
    width: 110%;
  }
  100% {
    width: 100%;
  }
}
