.mbd-score-list .mbd-score-name, .mbd-best-list .mbd-best-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  word-wrap: normal;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 25px;
  }
}

@media (min-width: 1152px) {
  html {
    font-size: 30px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 40px;
  }
}

@media (min-width: 1728px) {
  html {
    font-size: 45px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 50px;
  }
}

.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container {
  height: 100%;
}

.left-cont {
  display: inline-block;
  vertical-align: top;
  width: 25.16rem;
  padding-left: 2.6rem;
  margin-right: 1.6rem;
}

.left-cont .title-wrap {
  margin-bottom: 1.33rem;
  padding: 1.59rem 0 0 .2rem;
  position: relative;
}

.left-cont .logo {
  display: inline-block;
  width: 8.97rem;
  height: 1.29rem;
  background: url("../img/logo.png") no-repeat;
  background-size: contain;
}

.left-cont .title-latest-score {
  font-size: .9rem;
  color: #fff;
  float: right;
  line-height: 1.3rem;
  padding-right: 1rem;
}

.right-cont {
  display: inline-block;
  vertical-align: top;
  width: 8rem;
  padding-top: 1.59rem;
}

.right-cont .title-wrap {
  text-align: center;
  margin-bottom: 1.72rem;
}

.right-cont .title-latest-onbaord {
  font-size: .9rem;
  color: #fff;
  line-height: 1.3rem;
  display: inline-block;
}

.mbd-score-wrap {
  width: 28rem;
  height: 19.7rem;
  position: relative;
  top: -1rem;
  left: -1rem;
  box-sizing: border-box;
  padding: 1rem 0 0 1rem;
}

.mbd-score-list .mbd-score-item {
  width: 25.16rem;
  height: 1.65rem;
  position: relative;
  color: #fff;
  margin-bottom: .22rem;
}

.mbd-score-list .mbd-score-item:nth-child(odd) .mbd-score-resl {
  background: rgba(0, 0, 0, 0.15);
}

.mbd-score-list .mbd-score-item:nth-child(even) .mbd-score-resl {
  background: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
}

.mbd-score-list .mbd-score-item.show .mbd-score-avatar {
  -webkit-animation: avtAmt 500ms ease-in-out both;
          animation: avtAmt 500ms ease-in-out both;
}

.mbd-score-list .mbd-score-item.show .mbd-score-resl {
  -webkit-animation: itAmt 1.6s ease-in-out both;
          animation: itAmt 1.6s ease-in-out both;
}

.mbd-score-list .mbd-score-resl {
  height: 100%;
  font-size: .72rem;
  border-radius: 1.5rem;
  overflow: hidden;
  width: 0;
  position: relative;
  z-index: 5;
}

.mbd-score-list .mbd-score-avatar {
  position: absolute;
  width: 1.57rem;
  height: 1.57rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.08rem solid rgba(0, 0, 0, 0.3);
  margin-right: .45rem;
  z-index: 10;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.mbd-score-list .mbd-score-avatar img {
  display: block;
  width: 100%;
  height: 100%;
}

.mbd-score-list .mbd-score-name {
  position: absolute;
  left: 2.1rem;
  width: 9.5rem;
  line-height: 1.73rem;
}

.mbd-score-list .mbd-score-time {
  position: absolute;
  left: 11.6rem;
  line-height: 1.73rem;
}

.mbd-score-list .mbd-score-gift {
  font-family: "Helvetica Bold";
  position: absolute;
  left: 19.2rem;
  line-height: 1.73rem;
}

.mbd-best-list .mbd-best-item {
  width: 10rem;
  height: 2.62rem;
  position: relative;
  margin-bottom: 1.26rem;
}

.mbd-best-list .mbd-best-item.show .mbd-best-avatar {
  -webkit-animation: avtAmt 500ms ease-in-out both;
          animation: avtAmt 500ms ease-in-out both;
}

.mbd-best-list .mbd-best-item.show .mbd-best-resl {
  -webkit-animation: itAmt 1s ease-in-out both;
          animation: itAmt 1s ease-in-out both;
}

.mbd-best-list .mbd-best-item.show .mbd-best-props {
  visibility: visible;
}

.mbd-best-list .mbd-best-item.show .mbd-best-props.air {
  -webkit-animation: airAmt 2s ease-out both;
          animation: airAmt 2s ease-out both;
}

.mbd-best-list .mbd-best-avatar {
  position: absolute;
  z-index: 10;
  width: 2.92rem;
  height: 2.92rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.08rem solid rgba(0, 0, 0, 0.3);
  top: -.15rem;
  left: -.63rem;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.mbd-best-list .mbd-best-avatar img {
  display: block;
  width: 100%;
  height: 100%;
}

.mbd-best-list .mbd-best-resl {
  color: #fff;
  line-height: 1.5;
  height: 100%;
  z-index: 5;
  overflow: hidden;
  border-radius: 1.5rem;
  background: rgba(0, 0, 0, 0.15);
  position: relative;
  width: 0;
}

.mbd-best-list .mbd-best-props {
  position: absolute;
  visibility: hidden;
}

.mbd-best-list .mbd-best-props.gold, .mbd-best-list .mbd-best-props.silver, .mbd-best-list .mbd-best-props.copper {
  width: 1.97rem;
  height: 1.04rem;
  top: -.74rem;
  left: -.6rem;
}

.mbd-best-list .mbd-best-props.gold {
  background: url("../img/props-gold.png") no-repeat;
  background-size: contain;
}

.mbd-best-list .mbd-best-props.silver {
  background: url("../img/props-silver.png") no-repeat;
  background-size: contain;
}

.mbd-best-list .mbd-best-props.copper {
  background: url("../img/props-copper.png") no-repeat;
  background-size: contain;
}

.mbd-best-list .mbd-best-props.air {
  width: .92rem;
  height: .84rem;
  background: url("../img/props-air.png") no-repeat;
  background-size: contain;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translate(0.2rem, 0.2rem) scale(1) rotate(0);
      -ms-transform: translate(0.2rem, 0.2rem) scale(1) rotate(0);
          transform: translate(0.2rem, 0.2rem) scale(1) rotate(0);
  opacity: 1;
  z-index: 9;
}

.mbd-best-list .mbd-best-name {
  max-width: 8em;
  font-size: .95rem;
  position: absolute;
  top: .18rem;
  left: 2.92rem;
}

.mbd-best-list .mbd-best-time {
  font-size: .72rem;
  display: block;
  position: absolute;
  top: 1.4rem;
  left: 2.92rem;
}

@-webkit-keyframes avtAmt {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  50% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes avtAmt {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  50% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes itAmt {
  0%, 60% {
    width: 0;
  }
  70% {
    width: 60%;
  }
  80% {
    width: 80%;
  }
  85% {
    width: 100%;
  }
  90% {
    width: 115%;
  }
  100% {
    width: 100%;
  }
}

@keyframes itAmt {
  0%, 60% {
    width: 0;
  }
  70% {
    width: 60%;
  }
  80% {
    width: 80%;
  }
  85% {
    width: 100%;
  }
  90% {
    width: 115%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes airAmt {
  0%, 40% {
    -webkit-transform: translate(0.2rem, 0.2rem) scale(1) rotate(0);
            transform: translate(0.2rem, 0.2rem) scale(1) rotate(0);
    opacity: 1;
  }
  44% {
    -webkit-transform: translate(-1.2rem, -1.2rem) scale(1.6) rotate(0);
            transform: translate(-1.2rem, -1.2rem) scale(1.6) rotate(0);
    opacity: 1;
  }
  47% {
    -webkit-transform: translate(-1.2rem, -1.2rem) scale(1.6) rotate(11deg);
            transform: translate(-1.2rem, -1.2rem) scale(1.6) rotate(11deg);
    opacity: 1;
  }
  54% {
    -webkit-transform: translate(-1.35rem, -1.35rem) scale(1.8) rotate(-12deg);
            transform: translate(-1.35rem, -1.35rem) scale(1.8) rotate(-12deg);
    opacity: .85;
  }
  57% {
    -webkit-transform: translate(-1.35rem, -1.35rem) scale(1.9) rotate(11deg);
            transform: translate(-1.35rem, -1.35rem) scale(1.9) rotate(11deg);
    opacity: .77;
  }
  64% {
    -webkit-transform: translate(-1.45rem, -1.45rem) scale(2.2) rotate(-12deg);
            transform: translate(-1.45rem, -1.45rem) scale(2.2) rotate(-12deg);
    opacity: .62;
  }
  71% {
    -webkit-transform: translate(-1.55rem, -1.55rem) scale(2.4) rotate(11deg);
            transform: translate(-1.55rem, -1.55rem) scale(2.4) rotate(11deg);
    opacity: .46;
  }
  78% {
    -webkit-transform: translate(-1.65rem, -1.65rem) scale(2.4) rotate(-12deg);
            transform: translate(-1.65rem, -1.65rem) scale(2.4) rotate(-12deg);
    opacity: .31;
  }
  85% {
    -webkit-transform: translate(-1.75rem, -1.75rem) scale(2.8) rotate(11deg);
            transform: translate(-1.75rem, -1.75rem) scale(2.8) rotate(11deg);
    opacity: .15;
  }
  92% {
    -webkit-transform: translate(-1.8rem, -1.8rem) scale(3) rotate(-12deg);
            transform: translate(-1.8rem, -1.8rem) scale(3) rotate(-12deg);
    opacity: 0;
  }
  95% {
    -webkit-transform: translate(0.2rem, 0.2rem) scale(1) rotate(0);
            transform: translate(0.2rem, 0.2rem) scale(1) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-0.7rem, -0.7rem) scale(1) rotate(0);
            transform: translate(-0.7rem, -0.7rem) scale(1) rotate(0);
    opacity: 1;
  }
}

@keyframes airAmt {
  0%, 40% {
    -webkit-transform: translate(0.2rem, 0.2rem) scale(1) rotate(0);
            transform: translate(0.2rem, 0.2rem) scale(1) rotate(0);
    opacity: 1;
  }
  44% {
    -webkit-transform: translate(-1.2rem, -1.2rem) scale(1.6) rotate(0);
            transform: translate(-1.2rem, -1.2rem) scale(1.6) rotate(0);
    opacity: 1;
  }
  47% {
    -webkit-transform: translate(-1.2rem, -1.2rem) scale(1.6) rotate(11deg);
            transform: translate(-1.2rem, -1.2rem) scale(1.6) rotate(11deg);
    opacity: 1;
  }
  54% {
    -webkit-transform: translate(-1.35rem, -1.35rem) scale(1.8) rotate(-12deg);
            transform: translate(-1.35rem, -1.35rem) scale(1.8) rotate(-12deg);
    opacity: .85;
  }
  57% {
    -webkit-transform: translate(-1.35rem, -1.35rem) scale(1.9) rotate(11deg);
            transform: translate(-1.35rem, -1.35rem) scale(1.9) rotate(11deg);
    opacity: .77;
  }
  64% {
    -webkit-transform: translate(-1.45rem, -1.45rem) scale(2.2) rotate(-12deg);
            transform: translate(-1.45rem, -1.45rem) scale(2.2) rotate(-12deg);
    opacity: .62;
  }
  71% {
    -webkit-transform: translate(-1.55rem, -1.55rem) scale(2.4) rotate(11deg);
            transform: translate(-1.55rem, -1.55rem) scale(2.4) rotate(11deg);
    opacity: .46;
  }
  78% {
    -webkit-transform: translate(-1.65rem, -1.65rem) scale(2.4) rotate(-12deg);
            transform: translate(-1.65rem, -1.65rem) scale(2.4) rotate(-12deg);
    opacity: .31;
  }
  85% {
    -webkit-transform: translate(-1.75rem, -1.75rem) scale(2.8) rotate(11deg);
            transform: translate(-1.75rem, -1.75rem) scale(2.8) rotate(11deg);
    opacity: .15;
  }
  92% {
    -webkit-transform: translate(-1.8rem, -1.8rem) scale(3) rotate(-12deg);
            transform: translate(-1.8rem, -1.8rem) scale(3) rotate(-12deg);
    opacity: 0;
  }
  95% {
    -webkit-transform: translate(0.2rem, 0.2rem) scale(1) rotate(0);
            transform: translate(0.2rem, 0.2rem) scale(1) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-0.7rem, -0.7rem) scale(1) rotate(0);
            transform: translate(-0.7rem, -0.7rem) scale(1) rotate(0);
    opacity: 1;
  }
}
